@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.woff2') format('woff2'),
        url('Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Black.woff2') format('woff2'),
        url('Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.woff2') format('woff2'),
        url('Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.woff2') format('woff2'),
        url('Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLight.woff2') format('woff2'),
        url('Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.woff2') format('woff2'),
        url('Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root{
    /* colors */
    --primary-color: #737373;
    --secondary-color: #252B42;
    --third-color: #fff;

    /* background-colors */
    --primary-bg-color: #FFA62B;
    --secondary-bg-color: #F9F9F9;
    --third-bg-color: #16697A;
    --forth-bg-color: #252B42;

    /* fonts  */
    --primary-font: "Montserrat";

    /* font-weight  */
    --primary-font-weight: 500;
    --secondary-font-weight: 700;
    --third-font-weight:600; 

    /* font-size */
    --primary-font-size: 14;
    --secondary-font-size: 16;
    --third-font-size: 40;
    --forth-font-size: 24;
}

ul, ol , li{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
a{
    list-style: none;
    text-decoration: none;
}
p{
    margin: 0;
    padding: 0;
}


.container{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    height: auto;
}
.site-header{
    padding-bottom: 40px;
}
.site-header-hero-bg{
    position: relative;
    /* margin-bottom: 131px; */
    padding-top: 40px;
    padding-bottom: 271px;
    background-image: url("../images/site-header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header__wrapper-start{
    display: flex;
    align-items: center;
}
.site-header__nav-list{
    display: flex;
    gap: 21px;
}
.site-hidden__nav-list{
    display: none;
}
/* .site-header__logo-img{
    margin-right: 117px;
} */
/* .site-header__list-item:not(:last-child){
    margin-right: 21px;
} */
.site-header__item-link{
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    font-weight: var(--third-font-weight);
    color: var(--primary-color);
    line-height: 24px;
    letter-spacing: 0.2px;
}
.site-header__wrapper-end{
    display: flex;
    align-items: center;
    gap: 5px;
}
.site-header__menu-btn{
    background-color: transparent;
    border: none;
    display: none;
}
.site-header__search-btn{
    border: none;
    background-color: transparent;
}
.site-header__shoppingcart-btn{
    border: none;
    background-color: transparent;
}
.site-hidden__nav-list{
    transform: translateY(-300px);
}

.hero-wrapper{
    padding: 40px 0;
}
.hero-title{
    width: 100%;
    max-width: 509px;
    margin: 0;
    padding-bottom: 35px;
    font-family: var(--primary-font);
    font-size: 58px;
    font-weight: 800;
    letter-spacing: 0.2px;
    line-height: 80px;
    color: var(--forth-bg-color);
}
.hero-desc{
    padding-bottom: 35px;
    width: 100%;
    max-width: 376px;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: var(--primary-font-weight);
    color: var(--primary-color);
    line-height: 30px;
    letter-spacing: 0.2px;
}
.hero-links__item{
    padding: 10px 36px;
    font-family: var(--primary-font);
    line-height: 28px;
    letter-spacing: 0.2px;
    font-weight: var(--secondary-font-weight);
    font-size: var(--primary-font-size);
    color: var(--third-color);
    background-color: var(--primary-bg-color);
    border-radius: 37px;
}
.hero-links__item:nth-child(2){
    border: 1px solid #00A0C1;
    color: #00A0C1;
    background-color: var(--third-color);
}
.hero-links__wrapper{
    gap: 10px;
}
.hero-list{
    max-width: 1050px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: -20px;
    gap: 10px;
}
.hero-list__item{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 328px;
    padding: 35px 0 35px 40px;
    background-color: var(--third-color);
    box-sizing: border-box;
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
}
.hero-list__wrapper-icon{
    color: #00A0C1;
}
.hero-list__item:hover .hero-list__wrapper-icon{
    color: var(--third-color);
    
}
.hero-list__item:hover{
    background-color: #00A0C1;
    transition: all 0.3s;
    h3{
        color: var(--third-color);
    }
    p{
        color: var(--third-color);
    }
}
.hero-list__wrapper-icon{
    padding-bottom: 10px;
}
.hero-list__wrapper-icon:hover{
    color: var(--third-color);
}
.hero-list__wrapper-title{
    margin: 0;
    padding-bottom: 10px;
    font-family: var(--primary-font);
    font-weight: var(--secondary-font-weight);
    font-size: var(--forth-font-size);
    color: var(--secondary-color);
    line-height: 32px;
    letter-spacing: 0.1px;
}
.hero-list__wrapper-desc{
    width: 100%;
    max-width: 224px;
    font-family: var(--primary-font);
    /* font-size: var(--primary-font-size); */
    font-weight: var(--primary-font-weight);
    color: var(--primary-color);
    line-height: 20px;
    letter-spacing: 0.2px;
}
.site-main{
    padding-top: 131px;
    background-color: #fafafa;
}
.why-choose{
    padding: 80px 0;
}
.why-choose__wrapper{
    padding-bottom: 50px;
    margin: 0 auto;
    width: 100%;
    max-width: 511px;
    text-align: center;
}
.why-choose__title{
    margin: 0;
    padding-bottom: 10px;
    font-family: var(--primary-font);
    font-weight: var(--secondary-font-weight);
    font-size: var(--third-font-size);
    color: var(--secondary-color);
    line-height: 57px;
    letter-spacing: 0.2px;
}
.why-choose__desc{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: var(--primary-font-size);
    color: var(--primary-color);
    line-height: 20px;
    letter-spacing: 0.2px;
}
.why-choose__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px;
}
.why-choose__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    max-width: 230px;
    background-color: var(--third-color);
}
.why-choose__item-icon{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.why-choose__item-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why-choose__info-title{
    margin-bottom: 10px;
    font-family: var(--primary-font);
    font-weight: var(--secondary-font-weight);
    font-size: var(--third-font-size);
    color: var(--secondary-color);
    line-height: 57px;
    letter-spacing: 0.2px;
}
.why-choose__info-desc{
    font-family: var(--primary-font);
    font-size: var(--secondary-font-size);
    font-weight: var(--secondary-font-weight);
    color: var(--primary-color);
    line-height: 24px;
    letter-spacing: 0.1px;
}
.advice{
    padding-top: 125px;
    padding-bottom: 80px;
}
.advice__content-wrapper{
    padding-bottom: 45px;
    width: 100%;
    max-width: 470px;
    margin: 0 auto;
    text-align: center;
}
.advice-content__title{
    margin: 0;
    font-family: var(--primary-font);
    font-weight: var(--secondary-font-weight);
    font-size: var(--third-font-size);
    color: var(--secondary-color);
    line-height: 57px;
    letter-spacing: 0.2px;
    padding-bottom: 10px;
}
.advice-content__desc{
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    font-weight: var(--primary-font-weight);
    color: var(--primary-color);
    line-height: 20px;
    letter-spacing: 0.2px;
}
.advice-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.advice-item{
    width: 100%;
    max-width: 230px;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
}
.advice-item__img{
    width: 100%;
}
.advice-item__box{
    padding: 30px 0;
    padding-left: 30px;
    flex-grow: 1;
    
}
.advice-item__title{
    width: 100%;
    max-width: 130px;
    margin: 0;
    padding-bottom: 15px;
    font-family: var(--primary-font);
    font-weight: var(--secondary-font-weight);
    font-size: var(--secondary-font-size);
    color: var(--secondary-color);
    line-height: 24px;
    letter-spacing: 0.1px;
}
.advice-item__desc{
    width: 100%;
    max-width: 179px;
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    font-weight: var(--primary-font-weight);
    color: var(--primary-color);
    line-height: 20px;
    letter-spacing: 0.2px;
}
.service{
    padding: 100px 0;
    background-color: var(--third-color);
}
.service-info__wrapper{
    width: 100%;
    max-width: 511px;
    padding-bottom: 100px;
    margin: 0 auto;
    text-align: center;
}
.service-wrapper__end-info{
    padding-bottom: 50px;
}
.service-title{
    margin: 0;
    padding-bottom: 15px;
    font-family: var(--primary-font);
    font-size: var(--third-font-size);
    font-weight: var(--secondary-font-weight);
    color: var(--secondary-color);
    line-height: 57px;
    letter-spacing: 0.2px;
}
.service-desc{
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    font-weight: var(--primary-font-weight);
    color: var(--primary-color);
    line-height: 20px;
    letter-spacing: 0.2px;
}
.service-wrapper{
    display: flex;
    gap: 120px;
}
.service-wrapper__end{
    padding-top: 22px;
}
.service-wrapper__end-title{
    margin: 0;
    padding-bottom: 10px;
    font-family: var(--primary-font);
    font-size: var(--third-font-size);
    font-weight: var(--secondary-font-weight);
    color: var(--secondary-color);
    line-height: 57px;
    letter-spacing: 0.2px;
}
.service-wrapper__end-desc{
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    font-weight: var(--primary-font-weight);
    color: var(--primary-color);
    line-height: 20px;
    letter-spacing: 0.2px;
}
.service-end__list{
    display: flex;
    flex-direction: column;
}
.service-end__list-item{
    display: flex;
    align-items: flex-start;
    gap: 45px;
}
.service-end__item-title{
    margin: 0;
    padding-bottom: 5px;
    font-family: var(--primary-font);
    font-size: var(--secondary-font-size);
    font-weight: var(--secondary-font-weight);
    color: var(--secondary-color);
    line-height: 24px;
    letter-spacing: 0.1px;
}
.service-end__item-desc{
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    font-weight: var(--third-font-weight);
    color: var(--primary-color);
    line-height: 24px;
    letter-spacing: 0.2px;
}
.brends{
    padding-top: 50px;
}
.brends-list{
    /* position: relative; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 137px;
    gap: 25px;
}
.brends-list__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 154px;
    height: 75px;
}
.form-bg{
    height: 77px ;
    background-color: var(--forth-bg-color);
}
.email-form{
    padding: 30px 45px;
}
.email-form__box{
    width: auto;
    display: flex;
    justify-content: space-between;
}
.email-form{
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    margin: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 180px;
    background-color: var(--third-bg-color);
}
.email-form__info{
    position: relative;

}
.email-form__title{
    margin: 0;
    width: 100%;
    max-width: 266px;
    font-family: var(--primary-font);
    font-size: var(--forth-font-size);
    font-weight: var(--secondary-font-weight);
    color: var(--third-color);
    line-height: 32px;
    letter-spacing: 0.1px;
}
.email-form__box{
    border: 1px solid #E6E6E6;
}
.email-form__input{
    margin: 0;
    width: 333px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: var(--primary-font-size);
    color: var(--primary-color);
    line-height: 28px;
    letter-spacing: 0.2px;
    border: none;
}
.email-form__input-btn{
    padding: 15px 23px;
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    font-weight: 400;
    color: var(--third-color);
    line-height: 28px;
    letter-spacing: 0.2px;
    border: none;
    border-left: 1px solid #E6E6E6;
    background-color: var(--primary-bg-color);
}
.contact{
    padding-top: 80px;
    padding-bottom: 148px;
    background-color: #F3F3F3;
}
.contact-info__box{
    font-family: var(--primary-font);
    margin: 0 auto;
    width: 100%;
    max-width: 470px;
    padding-bottom: 80px;
    text-align: center;
}
.contact-info__title{
    margin: 0;
    padding-bottom: 10px;
    font-size: var(--third-font-size);
    font-weight: var(--secondary-font-weight);
    color: var(--secondary-color);
    line-height: 57px;
    letter-spacing: 0.2px;
}
.contact-info__desc{
    font-weight: var(--primary-font-weight);
    font-size: var(--primary-font-size) ;
    color: var(--primary-color);
    line-height: 20px;
    letter-spacing: 0.2px;
}
.contact-list{
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
}
.contact-list__item{
    height: 333px;
    font-family: var(--primary-font);
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 328px;
    background-color: var(--third-color);
}
.contact-list__item-desc{
    text-align: center;
}
.contact-list__item-img{
    color: #00A0C1;
    padding-bottom: 15px;
}
.contact-list__item-desc{
    padding-bottom: 15px;
    font-size: var(--primary-font-size);
    font-weight: var(--third-font-weight);
    color: var(--secondary-color);
    line-height: 24px;
    letter-spacing: 0.2px;
}
.contact-list__item-subtitle{
    padding-bottom: 15px;
    font-weight: var(--secondary-font-weight);
    font-size: var(--secondary-font-size);
    color: var(--secondary-color);
    line-height: 24px;
    letter-spacing: 0.2px;
}
.contact-list__item-btn{
    display: inline-block;
    padding: 10px 20px;
    font-weight: var(--third-font-weight);
    font-size: var(--primary-font-size);
    color: var(--primary-bg-color);
    line-height: 24px;
    letter-spacing: 0.2px;
    border: 1px solid var(--primary-bg-color);
    border-radius: 5px;
    background-color: transparent;
}
.contact-list__item:hover .contact-list__item-img{
    color: var(--third-color);
}
.contact-list__item:hover{
    height: 393px;
    transition: all 0.3s;
    background-color: var(--forth-bg-color);
    p{
        color: var(--third-color);
    }
    span{
        color: var(--third-color);
    }
    button{
        border: 1px solid var(--third-color);
        background-color: transparent;
        color: var(--third-color);
    }
}
.consulting{
    font-family: var(--primary-font);
    padding: 40px 0;
    background-color: #FAFAFA;
}
.consulting-info__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.consulting-info__wrapper-title{
    margin: 0;
    padding-bottom: 10px;
    font-weight: var(--secondary-font-weight);
    font-size: var(--forth-font-size);
    color: var(--secondary-color);
    line-height: 32px;
    letter-spacing: 0.1px;
}
.consulting-info__wrapper-desc{
    font-weight: var(--primary-font-weight);
    font-size: var(--primary-font-size);
    color: var(--primary-color);
    line-height: 20px;
    letter-spacing: 0.2px;
}
.consulting-info__wrapper-btn{
    display: inline-block;
    padding: 15px 40px;
    font-weight: var(--secondary-font-weight);
    font-size: var(--primary-font-size);
    color: var(--third-color);
    line-height: 28px;
    letter-spacing: 0.2px;
    border-radius: 5px;
    background-color: var(--primary-bg-color);
}
.site-footer{
    padding: 50px 0;
    background-color: var(--third-bg-color);
    font-family: var(--primary-font);
}
.site-footer__list{
    display: flex;
    flex-wrap: wrap;
    /* gap: 30px; */
    justify-content: center;
}
.site-footer__list-item{
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 250px;
}
.site-footer__item-subtitle{
    padding-bottom: 20px;
    font-size: var(--secondary-font-size);
    font-weight: var(--secondary-font-weight);
    color: var(--third-color);
    line-height: 24px;
    letter-spacing: 0.1px;
}
.site-footer__item-link{
    font-size: var(--primary-font-size);
    font-weight: var(--third-font-weight);
    color: var(--third-color);
    line-height: 24px;
    letter-spacing: 0.2px;
}
.site-footer__item-link:not(:last-child){
    padding-bottom: 10px;
}
.site-footer__item-box{
    display: flex;
    gap: 10px;
}
.footer-extra__info{
    padding: 25px 0;
    background-color: #fafafa;
    font-family: var(--primary-font);
}
.footer-extra__info-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.extra-info__desc{
    font-weight: var(--third-font-weight);
    font-size: var(--primary-font-size);
    color: var(--primary-color);
    line-height: 24px;
    letter-spacing: 0.2px;
}
.extra-info__list{
    display: flex;
    align-items: center;
    gap: 20px;
}
