
:root{
    /* colors */
    --primary-color: #737373;
    --secondary-color: #252B42;
    --third-color: #fff;

    /* background-colors */
    --primary-bg-color: #FFA62B;
    --secondary-bg-color: #F9F9F9;
    --third-bg-color: #16697A;
    --forth-bg-color: #252B42;

    /* fonts  */
    --primary-font: "Montserrat";

    /* font-weight  */
    --primary-font-weight: 500;
    --secondary-font-weight: 700;
    --third-font-weight:600; 

    /* font-size */
    --primary-font-size: 14px;
    --secondary-font-size: 16px;
    --third-font-size: 40px;
    --forth-font-size: 24px;
}


@media only screen and (max-width: 750px){
    .site-header{
        padding-bottom: 0;
    }
    .site-header__nav-list{
        display: none;
    }
    .site-header__menu-btn{
        display: block;
    }
    .hero-title{
        width: 100%;
        margin: 0 auto;
        max-width: 346px;
        font-weight: var(--secondary-font-weight);
        line-height: 57px;
        font-size: var(--third-font-size);
        text-align: center;
    }
    .hero-desc{
        margin: 0 auto;
        max-width: 279px;
        text-align: center;
        padding-bottom: 40px;
    }
    .hero-list{
        position: static;
    }
    .hero-links__wrapper{
        margin: 0 auto;
        padding-bottom: 40px;
        width: 100%;
        max-width: 190px;
        display: flex;
        flex-direction: column;
    }
    .hero-links__item{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .site-header-hero-bg{
        padding-bottom: 0;
        background-image: none;
    }
    .site-header__logo-img{
        margin: 0;
    }
    .hero{
        padding-top: 80px;
        padding-bottom: 205px;
        background-image: url("../images/hero-mobile-bg.jpg");
    }
    .site-hidden__nav-list{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-600px);
        transition: all 0.3s linear;
        right: 0;
        left: 0;
        gap: 30px;
        padding: 98px 0;
    }
    .site-hidden__nav-link{
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        color: var(--primary-color);
      
    }
    .site-hidden__nav-list-translate{
        position: static;
        transform: translateY(0);
        transition: all 0.3s linear;
    }
    .site-main{
        padding-top: 131px;
    }
    .why-choose__wrapper{
        max-width: 252px;
    }
    .advice__content-wrapper{
        max-width: 228px;
    }
    .advice{
        padding-top: 98px;
    }
    .service-wrapper{
        gap: 52px;
    }
    .service-wrapper__end-info{
        max-width: 308px;
        padding-bottom: 100px;
    }
    .service-end__list{
        flex-direction: column;
    }
    .service-end__list{
        gap: 30px;
    }
    .service-end__list-item{
        gap: 20px;
    }
    .service-wrapper__video{
        width: 100%;
        height: 442px;
    }
    .service-wrapper__video-box{
        padding: 0 40px;
    }
    .service-info__wrapper{
        max-width: 324px;
        padding: 0 20px;
        padding-bottom: 100px;
    }
    .brends{
        padding: 0;
    }
    .brends-list{
        padding: 33px 20px;
    }
    .form-bg{
        display: none;
    }
    .email-form{
        position: static;
        margin: 0;
        flex-direction: column;
    }
    .email-form__title{
        text-align: center;
    }
    .email-form__input{
        width: auto;
    }
    .contact-info__box{
        max-width: 300px;
    }
    .consulting-info__wrapper{
        flex-direction: column;
        gap: 20px;
    }
    .consulting-info__wrapper-box{
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        text-align: center;
    }
}

